<section class="container">
  <div class="row">
    <div class="col-md-4 bg-secondary">
      <h3 class="text-center text-white mt-3">
        {{project.code}}&nbsp;
        <a href="/projects/update/{{project._id}}" class="btn btn-outline-light" title="add project">edit</a>
      </h3>
    </div>

    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{project.title}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{project.code}}</h6>
        <p class="card-text">{{project.desc}}</p>
        <a href="/projects/{{project._id}}/items/add" class="card-link">update</a>
      </div>
    </div>

  </div>
</section>