<section class="container">
  <div class="row">
    <div class="col-md-4 bg-secondary d-flex align-items-center justify-content-center">
      <h1 class="text-center text-white">
        {{title}}
        <a href="/projects/add" class="btn btn-primary" title="add project">+</a>
      </h1>
      
    </div>
    <div class="col-md-8">
      {{#each projects}}

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{this.code}}</h5>
            <p class="card-text">{{this.title}}</p>
            <a href="/projects/{{this._id}}" class="btn btn-secondary">go to project</a>
            <button class="btn btn-secondary" data-delete="projects" data-target="{{this._id}}">delete</button>
            <a href="/projects/update/{{this._id}}" class="btn btn-secondary">update</a>
          </div>
        </div>      

      {{/each}}

    </div>
  </div>  
</section>
