<section class="container">
  <div class="row">
    <div class="col-md-4 bg-secondary d-flex align-items-center justify-content-center">
      <h3 class="text-center text-white">project</h3>      
    </div>
    <div class="col-md-8">
 
        <form class="card border-dark mb-3" id="form_project_update" data-project="{{project._id}}">  
          <header class="card-header bg-transparent border-dark">
            <legend class="text-right">update {{project.code}}</legend>
            <div class="alert alert-danger text-center fixed-top" role="alert" data-message="form_message"></div>
          </header>
          <main class="card-body text-dark">
            <div class="form-group">
              <label for="title">title</label>
              <input type="text" class="form-control" name="title" id="title" value="{{project.title}}">              
            </div>
            <div class="form-group">
              <label for="code">code</label>
              <input type="text" class="form-control" name="code" id="code" value="{{project.code}}">
            </div>
            <div class="form-group">
              <label for="desc">description</label>
              <input type="text" class="form-control" name="desc" id="desc" value="{{project.desc}}">
            </div>            
          </main>
          <footer class="card-footer bg-transparent border-dark text-right">
            <button type="submit" class="btn btn-dark">submit</button>
          </footer>
        </form>
  


    </div>
  </div>  
</section>